@import components/mixins
@import components/animate
*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 0.85px
    scroll-behavior: smooth
    // +media(1024)
    //     font-size: 0.85px
    +media(1440)
        font-size: 0.95px
    +media(1920)
        font-size: 1px

body
    color: #121212
    font-size: 18rem
    font-family: "Ubuntu Sans"
    font-weight: 400
    +media(768)
        font-size: 24rem

main
    padding-top: 90rem
    overflow-x: hidden

h1
    font-size: 44rem
    +media(1024)
        font-size: 64rem
h2
    padding-bottom: 50rem
    color: #ED6B27
    font-size: 32rem
    font-weight: 600
    +media(1024)
        font-size: 48rem
h3
    color: #0F283D
    font-size: 22rem
    line-height: 1.2em
    +media(768)
        font-size: 32rem
ul
    list-style: none

a
    transition: .5s
    text-decoration: none

.wrapper_header,
.wrapper
    width: 90%
    margin: 0 auto

.wrapper
    +media(1440)
        max-width: 1440rem

.flex
    display: flex

.flex-between
    display: flex
    justify-content: space-between

.flex-center
    justify-content: center

.items-center
    align-items: center

.column
    flex-direction: column

.wrap_768
    flex-wrap: wrap
    +media(768)
        flex-wrap: nowrap

.wrap_1024
    flex-wrap: wrap
    +media(1024)
        flex-wrap: nowrap

.reverse_wrap
    flex-wrap: wrap-reverse

.grid
    display: grid

.col_2
    +media(768)
        grid-template-columns: repeat(2, 1fr)
    
.col_3
    +media(768)
        grid-template-columns: repeat(3, 1fr)
.tac
    text-align: center

.pt_100
    padding-top: 100rem
    
.pt_60
    padding-top: 60rem

.gap_10
    gap: 10rem    

.gap_20
    gap: 20rem

.dark_mode
    color: #fff
    background: #0F283D
    a
        color: #fff

.main_section
    position: relative

.dark_mask,
.mask
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    img, video
        width: 100%
        height: 100%
        object-fit: cover
    video
        position: absolute
        top: 0
        left: 0
        opacity: 0

.mask
    background: rgba(0, 0, 0, 0.80)
    z-index: 2

.fixed_header
    position: fixed
    top: 0
    left: 0
    width: 100%
    padding: 20px 0
    z-index: 4

.nav
    position: fixed
    top: 0
    right: -100%
    width: 80vw
    height: 100vh
    padding: 80rem 20rem
    background-color: #0F283D
    z-index: 10
    transition: .5s
    +media(500)
        width: 60vw
    +media(1200)
        position: static
        width: auto
        height: auto
        padding: 0

.navigation_menu
    li
        padding-bottom: 15rem
        +media(1200)
            padding: 0
    a 
        display: block
        font-size: 25rem
        +media(1200)
            font-size: 18rem
        &:hover
            color: #ed6b27
    +media(1200)
        display: flex
        justify-content: space-between
        gap: 50rem

.dark-bgc
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    backdrop-filter: blur(2px)
    z-index: 6

.mobile_btn
    padding-top: 50rem
    .cta
        width: 100%
        max-width: none
    +media(1200)
        display: none
.desctop_btn
    display: none
    +media(1200)
        display: block

.burger 
    width: 50px
    height: 100%
    cursor: pointer
    +media(1200)
        display: none

.bord 
    display: block
    margin: 4px
    width: 30px
    height: 5px
    border-radius: 2px
    background-color: #ED6B27
    transition: all 1s ease

.burger
    &:hover 
        > .b1 
            transform: translateX(20px)

.burger
    &:hover 
        > .b2 
            transform: translateX(10px)

.b1 
  width: 20px

.b2 
  width: 30px

.b3 
  width: 40px
  top: 10px

a.cancel 
    position: absolute
    top: 30px
    right: 20px
    cursor: pointer
    +media(1200)
        display: none

.main_text
    position: relative
    max-width: 1156rem
    min-height: 90vh 
    padding: 50rem 0
    color: #fff
    z-index: 2
    h1
        line-height: normal
    p
        padding: 60rem 0
    a
        color: #fff
.cta
    display: block
    max-width: 255rem
    min-width: 255rem
    padding: 15rem 20rem
    border-radius: 10rem
    border: 1px solid #ed6b27
    background: #ED6B27
    font-size: 16rem
    font-weight: 500
    text-align: center
    &:hover
        background-color: transparent

.transparent_cta
    background: transparent
    border: 1px solid #ed6b27
    &:hover
        background-color: #ed6b27
        color: #fff

.about_container
    h3
        padding: 0 0 40rem
    p
        padding-bottom: 20rem

.img_about
    img
        width: 100%
        min-height: 200px
        object-fit: cover

.asortment_list,
.need_block
    div
        +media(768)
            width: 50%
    img
        width: 100%
        height: 100%
        border-radius: 3px
.asortment_list
    ul
        padding-bottom: 10px
    li
        position: relative
        margin-bottom: 20rem
        padding-left: 20px
        &::before
            content: ""
            position: absolute
            top: 50%
            left: 0
            width: 10px
            height: 10px
            border-radius: 50%
            background: #ED6B27
            transform: translate(20%, -50%)
    span
        display: inline-block
        padding: 5rem 15rem
        color: #fff
        background: #ED6B27
        border-radius: 3px
.need_block
    padding-bottom: 100rem 

.statistic_container
    padding: 40rem 0
    font-size: 18rem
    div
        > div
            width: 100%
            +media(500)
                width: 40%
            +media(1024)
                max-width: 220rem
    p
        padding: 20rem 0
    .counter, .simbol_text
        color: #FFF
        font-size: 48rem
        font-weight: 600
    sup
        font-size: 15rem

.border_bottom
    border-bottom: 3px solid #ED6B27

.fill_cta
    color: #fff

.dark_text
    color: #121212

.products_section,
.news
    .cta
        &:hover
            color: #121212

.product
    padding: 30rem
    border-radius: 3px
    background: #E4E2E2
    +media(1024)
        padding: 70rem 40rem 30rem
    figcaption
        position: relative
    img
        width: 100%
        height: 212rem
        transition: .5s
        object-fit: contain
    h4
        padding: 10rem 15rem
        color: #0F283D
        font-size: 16rem
        font-weight: 500
        border-radius: 3px
        border: 1px solid #0F283D

.mask_prod
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    &:hover
        ~ picture
            img
                transform: scale(1.05)

.model
    padding: 5rem 15rem
    font-size: 26rem
    font-weight: 500
    border-radius: 3px

.new_card
    img
        width: 100%
        object-fit: cover
        border-radius: 3px
    time,
    .flag
        padding: 8rem 10rem
        font-size: 12px
        font-weight: 500
        border-radius: 3px
    .flag
        border: 1px solid #0F283D
    h4
        padding-bottom: 15rem
        color: #000
        font-size: 18rem
        font-weight: 500
    p
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis
        font-size: 14px
.time_new
    padding: 15rem 0

.info_text
    padding: 30rem
    +media(768)
        width: 50%
    +media(1440)
        padding: 73rem 79rem 73rem 123rem
    h2
        color: #fff
        font-size: 32rem
    p
        padding-bottom: 50rem
        font-size: 14px
        line-height: 1.5em

.image_info
    width: 100%
    +media(768)
        width: 50%
    img
        width: 100%
        height: 100%
        object-fit: cover

.contact_container
    padding-bottom: 100rem

.contacts
    div
        padding-bottom: 30rem
    h3
        font-weight: 500
        padding-bottom: 10rem
    a, address
        color: #121212
        font-size: 18rem
        font-style: normal
    a
        &:hover
            color: #ED6B27

.map,
.contacts
    +media(768)
        width: 50%
.social
    svg
        transition: .5s
    a
        &:hover
            svg
                transform: scale(1.1)

.map
    position: relative
    overflow: hidden
    border-radius: 3px
    width: 100%
    min-height: 300px
    iframe
        position: absolute
        top: -72px
        left: 0
        border: none
        width: 100%
        height: calc(100% + 72px)

.footer
    padding: 40rem 0
    font-size: 16rem
    div
        > div, p
            width: 100%
            +media(768)
                width: auto
.privacy
    a
        text-decoration: underline
        &:hover
            color: #ED6B27