@import components/mixins
@import components/animate
*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 0.85px
    scroll-behavior: smooth
    +media(1440)
        font-size: 0.95px
    +media(1920)
        font-size: 1px

body
    color: #121212
    font-size: 18rem
    font-family: "Ubuntu Sans"
    font-weight: 400
    +media(768)
        font-size: 24rem

main
    padding-top: 90rem
    overflow-x: hidden

h1
    font-size: 44rem
    +media(1024)
        font-size: 64rem
h2
    padding-bottom: 50rem
    color: #ED6B27
    font-size: 32rem
    font-weight: 600
    +media(1024)
        font-size: 48rem
h3
    color: #0F283D
    font-size: 22rem
    line-height: 1.2em
    +media(768)
        font-size: 32rem
ul
    list-style: none

a
    transition: .5s
    text-decoration: none
b
    font-weight: 500
.wrapper_header,
.wrapper
    width: 90%
    margin: 0 auto

.wrapper
    +media(1440)
        max-width: 1440rem

.flex
    display: flex

.flex-between
    display: flex
    justify-content: space-between

.flex-center
    justify-content: center

.items-center
    align-items: center

.column
    flex-direction: column

.wrap_768
    flex-wrap: wrap
    +media(768)
        flex-wrap: nowrap

.wrap_1024
    flex-wrap: wrap
    +media(1024)
        flex-wrap: nowrap

.reverse_wrap
    flex-wrap: wrap-reverse

.grid
    display: grid

.col_2
    +media(768)
        grid-template-columns: repeat(2, 1fr)
    
.col_3
    +media(768)
        grid-template-columns: repeat(3, 1fr)
.tac
    text-align: center

.pt_100
    padding-top: 100rem
    
.pt_60
    padding-top: 60rem

.gap_10
    gap: 10rem    

.gap_20
    gap: 10px
    +media(768)
        gap: 20rem

.gap_30
    gap: 20rem
    +media(768)
        gap: 30rem
.gap_100
    gap: 50rem
    +media(1024)
        gap: 100rem
.dark_mode
    color: #fff
    background: #0F283D
    a
        color: #fff

.main_section
    position: relative

.dark_mask,
.mask,
.mask_news
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    img, video
        width: 100%
        height: 100%
        object-fit: cover
    video
        position: absolute
        top: 0
        left: 0
        opacity: 0

.mask
    background: rgba(0, 0, 0, 0.80)
    z-index: 2

.fixed_header
    position: fixed
    top: 0
    left: 0
    width: 100%
    padding: 20px 0
    z-index: 4
    transition: background-color 0.4s ease, backdrop-filter 0.4s ease

.home 
    .fixed_header 
        background-color: transparent
.home 
    main
        padding: 0

.home 
    .header_filled 
        background-color: #0F283D
.nav
    position: fixed
    top: 0
    right: -100%
    width: 80vw
    height: 100vh
    padding: 80rem 20rem
    background-color: #0F283D
    z-index: 10
    transition: .5s
    +media(500)
        width: 60vw
    +media(1200)
        position: static
        width: auto
        height: auto
        padding: 0
        background: transparent

.navigation_menu
    li
        padding-bottom: 15rem
        +media(1200)
            padding: 0
    a 
        display: block
        font-size: 25rem
        +media(1200)
            font-size: 18rem
        &:hover
            color: #ed6b27
    +media(1200)
        display: flex
        justify-content: space-between
        align-items: center
        gap: 30rem
        text-align: center
.cancel_li
    +media(1200)
        display: none
.dark-bgc
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    backdrop-filter: blur(2px)
    z-index: 6

.mobile_btn
    padding-top: 50rem
    .cta
        width: 100%
        max-width: none
    +media(1200)
        display: none
.desctop_btn
    display: none
    +media(1200)
        display: block

.burger 
    width: 50px
    height: 100%
    cursor: pointer
    +media(1200)
        display: none

.bord 
    display: block
    margin: 4px
    width: 30px
    height: 5px
    border-radius: 2px
    background-color: #ED6B27
    transition: all 1s ease

.burger
    &:hover 
        > .b1 
            transform: translateX(20px)

.burger
    &:hover 
        > .b2 
            transform: translateX(10px)

.b1 
  width: 20px

.b2 
  width: 30px

.b3 
  width: 40px
  top: 10px

a.cancel 
    position: absolute
    top: 30px
    right: 20px
    cursor: pointer
    +media(1200)
        display: none

.main_text
    position: relative
    max-width: 1156rem
    min-height: 90vh 
    padding: 50rem 0
    color: #fff
    z-index: 2
    h1
        line-height: normal
    p
        padding: 60rem 0
    a
        color: #fff
.cta
    display: block
    max-width: 255rem
    min-width: 255rem
    padding: 15rem 20rem
    border-radius: 10rem
    border: 1px solid #ed6b27
    background: #ED6B27
    font-size: 16rem
    font-weight: 500
    text-align: center
    &:hover
        background-color: transparent

.transparent_cta
    background: transparent
    border: 1px solid #ed6b27
    &:hover
        background-color: #ed6b27
        color: #fff

.about_container
    h3
        padding: 0 0 40rem
    p
        padding-bottom: 20rem

.img_about
    img
        width: 100%
        min-height: 200px
        object-fit: cover

.asortment_list,
.need_block
    div
        +media(768)
            width: 50%
    img
        width: 100%
        height: 100%
        border-radius: 3px
.asortment_list
    ul
        padding-bottom: 10px
    li
        position: relative
        margin-bottom: 20rem
        padding-left: 20px
        &::before
            content: ""
            position: absolute
            top: 50%
            left: 0
            width: 10px
            height: 10px
            border-radius: 50%
            background: #ED6B27
            transform: translate(20%, -50%)
    span
        display: inline-block
        padding: 5rem 15rem
        color: #fff
        background: #ED6B27
        border-radius: 3px
.need_block
    padding-bottom: 100rem 

.statistic_container
    padding: 40rem 0
    font-size: 18rem
    div
        > div
            width: 100%
            +media(500)
                width: 40%
            +media(1024)
                max-width: 220rem
    p
        padding: 20rem 0
    .counter, .simbol_text
        color: #FFF
        font-size: 48rem
        font-weight: 600
    sup
        font-size: 15rem

.border_bottom
    border-bottom: 3px solid #ED6B27

.fill_cta
    color: #fff
    &:hover
        background: #D65511

.dark_text
    color: #121212

.products_section
    figcaption
        position: relative

.product
    padding: 30rem
    border-radius: 3px
    transition: .5s
    background: #E4E2E2
    +media(1024)
        padding: 70rem 40rem 30rem
    img
        width: 100%
        height: 212rem
        transition: .5s
        object-fit: contain
    h4
        padding: 10rem 15rem
        color: #0F283D
        font-size: 16rem
        font-weight: 500
        border-radius: 3px
        border: 1px solid #0F283D

.mask_prod
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    &:hover
        ~ .product
            background: #BDBDBD
            picture
                img
                    transform: scale(1.05)

.model
    padding: 5rem 15rem
    font-size: 26rem
    font-weight: 500
    border-radius: 3px

.new_card
    img
        width: 100%
        object-fit: cover
        border-radius: 3px
    time,
    .flag
        padding: 8rem 10rem
        font-size: 12px
        font-weight: 500
        border-radius: 3px
    .flag
        border: 1px solid #0F283D
    h4
        padding-bottom: 15rem
        color: #000
        font-size: 18rem
        font-weight: 500
    p
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis
        font-size: 14px
.time_new
    padding: 15rem 0

.info_text
    padding: 30rem
    +media(768)
        width: 50%
    +media(1440)
        padding: 73rem 79rem 73rem 123rem
    h2
        color: #fff
        font-size: 32rem
    p
        padding-bottom: 50rem
        font-size: 14px
        line-height: 1.5em

.image_info
    width: 100%
    +media(768)
        width: 50%
    img
        width: 100%
        height: 100%
        object-fit: cover

.contact_container
    padding-bottom: 100rem

.contacts
    div
        padding-bottom: 30rem
    h3
        font-weight: 500
        padding-bottom: 10rem
    a, address
        color: #121212
        font-size: 18rem
        font-style: normal
    a
        &:hover
            color: #ED6B27

.contacts
    +media(768)
        width: 40%
.social
    svg
        transition: .5s
    a
        &:hover
            svg
                transform: scale(1.1)
.inst, .youtube
    svg  
        path 
            fill: #ED6B27
        &:hover
            path 
                fill: #0F283D
.tg
    svg
        path
            &:first-child
                fill: #ED6B27
        &:hover
            path 
                &:first-child
                    fill: #0F283D


.map
    position: relative
    overflow: hidden
    border-radius: 3px
    width: 100%
    min-height: 300px
    +media(768)
        width: 60%
    iframe
        position: absolute
        top: -72px
        left: 0
        border: none
        width: 100%
        height: calc(100% + 72px)

.footer
    padding: 40rem 0
    font-size: 16rem
    div
        > div, p
            width: 100%
            +media(768)
                width: auto
.privacy
    a
        text-decoration: underline
        &:hover
            color: #ED6B27


//page

.info_page 
    padding-bottom: 100rem
    .transparent_cta
        color: #121212
        &:hover
            color: #fff
        
.main_container
    padding: 50rem 0
    background:#F6F6F6
    picture
        display: inline-block
        height: 100%
    img
        width: 100%
        height: 100%
        object-fit: cover

.page_h1
    color:#ED6B27
    font-size: 34rem
    font-weight: 500
    +media(768)
        font-size: 64rem

.page_h2
    padding-bottom: 40rem
    color: #0F283D
    font-size: 28rem
    font-weight: 500
    +media(768)
        font-size: 48rem

.advantages_container
    padding: 100rem 0

.col_4
    grid-template-columns: repeat(2, 1fr)
    +media(768)
        grid-template-columns: repeat(4, 1fr)

.advant_block
    padding: 60rem 26rem 46rem
    border-radius: 5px
    background:#E4E2E2
    text-align: center
    svg
        padding-bottom: 20rem
    p
        padding-top: 20rem
        border-top: 3px solid #ED6B27
        font-size: 18rem
        font-weight: 400
.page_h3
    color: #ED6B27
    font-size: 22rem
    font-weight: 500
    +media(768)
        font-size: 32rem

.text_info_container
    > p
        padding-bottom: 60rem

.text_block
    padding-bottom: 70rem
    .grid
        gap: 50rem
        +media(1440)
            gap: 150rem 
    h3
        max-width: 570rem
        padding-bottom: 20rem
    p
        padding-bottom: 20rem
        font-weight: 400
    
.img_info
    height: 100%
    border-radius: 3px
    border: 1px solid #E4E2E2
    overflow: hidden
    img
        width: 100%
        height: 100%
        object-fit: cover

.popup
    display: none
    position: fixed
    top: 50%
    left: 50%
    width: 90vw
    max-height: 90vh 
    max-width: 650px
    padding: 50rem 20rem
    transform: translate(-50%, -50%)
    background-color: #fff
    border-radius: 3px
    z-index: 7
    overflow-y: auto 
    +media(768)
        height: auto
        padding: 50rem 60rem

.cancel_popup
    position: absolute
    top: 20rem
    right: 20rem

.btn_popup_col
    grid-template-columns: repeat(2, 1fr)
    border-radius: 10px
    border: 1px solid #0F283D
    overflow: hidden
    a 
        padding: 15px 20px
        color: #BDBDBD
        text-align: center
        font-size: 16rem
        font-weight: 500
    .active
        color: #FFF
        background: #0F283D

.switch_block
    display: none

.switch_block.active
    display: block

.manager_block
    text-align: center
    h3
        padding-top: 15rem
        +media(768)
            padding-top: 50rem
    p
        padding: 20rem 0
        font-size: 18rem
        font-weight: 400
        +media(768)
            padding: 40rem 0
    a   
        color: #000
        font-size: 20rem
        font-weight: 500
        +media(768)
            font-size: 26rem

.services_main_text
    padding: 50rem 0
    h1
        padding-bottom: 58rem
    p
        margin-bottom: 15rem

.adv_services
    >div
        padding: 38rem
        text-align: left
    h3
        padding-bottom: 30rem
        color: #ED6B27
        font-size: 24rem
        font-weight: 600
    p
        font-size: 16rem
        padding: 0 0 15rem 0
        border: none

.text_services_block
    .grid
        gap: 20rem
        padding-bottom: 40rem
        +media(1024)
            gap: 70rem
            padding-bottom: 60rem
        +media(768)
            grid-template-columns: 1fr 2fr

.catalogue_container,
.news_container
    h1
        padding: 60rem 0 40rem
    section
        padding: 0 0 100rem

.page_news
    figcaption
        position: relative
    img
        width: 100%
        object-fit: cover
    p
        padding: 10rem 0
        color: #BDBDBD
        font-size: 16rem
        font-weight: 400
    h2
        padding: 0
        color: #121212
        font-size: 24rem
        font-weight: 600

.news_cards
    div
        &:first-child
            padding-bottom: 50rem
            
main.new_one_container,
main.contacts_container,
main.privacy
    max-width: 924rem
    padding: 140rem 0 80rem

main.new_one_container
    > p
        color: #BDBDBD
        font-size: 16rem
    h1
        padding: 10rem 0 20rem
        color: #0F283D
        font-size: 48rem
        font-weight: 500
    picture
        display: inline-block
        width: 100%
        padding-bottom: 20rem
    img
        width: 100%
        object-fit: cover
        object-position: top
        max-height: 500rem

.description_news
    div
        padding-bottom: 10rem
    p
        padding-bottom: 20rem
    ul
        li
            position: relative
            padding: 0 0 15rem 40rem
            &::after
                content: ""
                position: absolute
                top: 8px
                left: 20rem
                width: 6px
                height: 6px
                border-radius: 50%
                background: #000


.news_orange
    color: #ED6B27

.contacts_container
    h1
        padding-bottom: 30rem
    h3
        padding-bottom: 20rem
        color:#0F283D
        font-weight: 500
    a 
        color: #121212
    address
        font-style: normal
    .map
        width: 100%
        min-height: 500rem
.contacts_page
    .col_2
        padding-bottom: 30rem
        +media(768)
            grid-template-columns: 1.5fr 1fr
.privacy
    h1
        padding-bottom: 40rem
    li
        padding-bottom: 15rem

.form_send_message
    h3
        padding: 15rem 0
        +media(768)
            padding: 50rem 0 40rem
    form
        > p
            padding-top: 20rem
    label
        display: block
        padding-bottom: 5rem
        span
            color: #ED6B27
    input, textarea
        width: 100%
        appearance: none
        padding: 10rem
        font-family: "Ubuntu Sans"
        font-size: 18rem
        border-radius: 3px
        border: 1px solid #BDBDBD
        +media(768)
            padding: 14rem 10rem
    textarea
        resize: none
        min-height: 120rem
        margin-bottom: 10rem
        +media(768)
            margin-bottom: 30rem

.error-tel
    color: #B80101
    font-size: 12px
    font-style: italic
    font-weight: 500

.product_main_section
    padding: 50rem 0

.main_product_block
    p 
        padding-bottom: 10rem
        color: #BDBDBD

.description_product
    position: relative
    grid-template-columns: 1fr 3fr
    margin-bottom: 90rem
    .wrapper
        min-height: 350rem
        +media(1024)
            display: flex
        
.text_descr
    +media(1024)
        max-width: 545rem
    .transparent_cta
        color: #ED6B27
        border: 2px solid #0F283D
        &:hover
            color: #fff
            border-color: #ED6B27
.text_product
    font-weight: 500
.descr
    color: #121212
    padding: 10rem 15rem
    border-radius: 3px
    background: #F6F6F6
.col_2_product
    padding-bottom: 30px
    +media(768)
        padding-bottom: 70rem
    p
        white-space: nowrap

.main_image.fade-right
    +media(1024)
        transform: translate(100px, -50%)
.main_image.fade-right.show
        +media(1024)
            transform: translate(0, -50%)
.main_image
    padding-bottom: 30rem

    +media(1024)
        position: absolute
        right: -15%
        top: 50%
        height: 100%
        padding: 0
        max-width: 60vw
    +media(1282)
        max-width: 100%
    picture
        display: inline-block
        height: 100%
    img
        width: 100%
        height: 100%
        object-fit: contain

.tiny_text
    font-weight: 400

.dot_svg
    svg
        transform: translateY(-50%)
        +media(768)
            transform: translateY(-100%)

.table_container
    padding: 50rem 0
    margin-bottom: 30px
    color: #fff
    background: #0F283D
    h2
        color: #fff
.table_block
    overflow-x: scroll 
    padding-bottom: 10rem
    +media(1024)
        overflow: visible
    &::-webkit-scrollbar
        height: 5px
        background: #eee
    &::-webkit-scrollbar-thumb
        background: #ED6B27
    table
        min-width: 1000rem
        width: 100%
        text-align: left
        border-collapse: collapse
        th, td
            padding: 20rem 10rem
        th
            font-weight: 600
            border-bottom: 2px solid #ED6B27
        td
            width: 25%
            border-bottom: 2px solid #E4E2E2

.info_product_container
    padding: 50rem 0
    background: #F6F6F6

.info-item
    border-top: 1px solid #121212

.b_bottom
    border-bottom: 1px solid #121212
.readmore
    position: relative
    padding: 40rem 0
    color: #121212
    svg
        path 
            transition: .5s
    &:hover
        text-shadow: 0 0 #000
        svg
            path 
                stroke: #000
    .head_span
        padding: 0
        color: #0F283D
        font-size: 30rem
        font-weight: 400
        +media(1440)
            font-size: 38rem
        +media(1920)
            font-size: 48rem
.active_span
    display: none
.readmore-active
    border-radius: 5px 5px 0 0
    .active_span
        display: block
        color: #ED6B27
    .head_span
        font-weight: 600
    .svg_btn 
        svg
            transform: rotate(-180deg)
.head_info
    padding-bottom: 5px
    font-weight: 500

.description-more
    max-height: 0
    overflow: hidden
    img
        width: 100%
    .advant_block
        padding: 26rem 20rem
        h3
            padding-bottom: 17rem

.prod_info_text
    p
        padding-bottom: 15rem
.visible
    padding: 0 0 50rem
    max-height: 3000rem
    transition: max-height 1s ease
    > div
        padding-bottom: 20rem

.svg_btn
    svg
        transform: rotate(0)
        transition: all .5s ease

.center_block
    +media(768)
        max-width: 70%
        margin: 0 auto
.slider_section
    padding: 50rem 0 100rem
    .wrapper
        width: 80%
        +media(1440)
            max-width: 1200rem  
.slide_group
    display: flex
    justify-content: space-between
    max-height: 600px
    transition: transform 0.3s ease
.product_slider
    position: relative
    .next, .prev
        position: absolute
        top: 50%
        width: 25px
        +media(768)
            width: 50px
    .next
        right: -30px
        +media(768)
            right: -60px
    .prev
        left: -30px
        +media(768)
            left: -60px
.slider_container 
    overflow: hidden
    img
        width: 100%
        object-fit: cover
        object-position: center
    
.slide_main 
    flex: 0 0 100%

.slide_button
    width: 15rem
    height: 15rem
    border-radius: 3px
    border: 1px solid #0F283D
    background: #0F283D

.slide_button.active
    background: #ED6B27
    border-color: #ED6B27

.next.disabled,
.prev.disabled 
    opacity: 0.4
    pointer-events: none

