.popup
    a(href="#").cancel_popup
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M0.75 16.75L16.75 0.75" stroke="#BDBDBD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.75 16.75L0.75 0.75" stroke="#BDBDBD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> 
    .grid.btn_popup_col 
        a(href="#" data-target="manager_block").flex.flex-center.items-center.manager.switch_btn.active Менеджер з продажу
        a(href="#" data-target="form_send_message").flex.flex-center.items-center.send_message.switch_btn Залишити заявку
    .manager_block#manager_block.switch_block.active
        h3.page_h3 Зв’яжіться напряму з менеджером
        p Наш менеджер з продажу готовий відповісти на всі ваші запитання щодо продукції, цін та умов співпраці.
        .flex.flex-center.items-center.gap_20 
            a(href="tel:+380672953719") +38 067 295 37 19
            a(href="tel:+380501712415") +38 050 171 24 15
    .form_send_message#form_send_message.switch_block
        h3.page_h3.tac Заповніть форму, і наш менеджер зателефонує вам
        form(action="#")
            .grid.col_2.gap_20 
                p
                    label(for='name') Імʼя
                        span *
                    input#name(type='text' name='userName' minlength='3' maxlength='30' required oninput="this.value = this.value.replace(/[^a-zA-Zа-яА-ЯїЇєЄіІґҐs]/g, '')")
                p
                    label(for='surname') Прізвище
                    input#surname(type='text' name='userName' minlength='3' maxlength='30' required oninput="this.value = this.value.replace(/[^a-zA-Zа-яА-ЯїЇєЄіІґҐs]/g, '')")
                p
                    label(for="userPhone") Телефон
                        span *
                    input.phoneInput.inputMask(type='tel' name='userPhone' required maxlength='13')
                    span.error-tel
                p
                    label(for="email") E-mail
                    input#email(type='email' name='email' required)
            p
                label(for="textarea") Коментар
                textarea#textarea(name="textarea")
            .flex.flex-center.items-center.gap_20 
                button.cta.fill_cta Відправити
header.fixed_header.dark_mode
    .wrapper_header.flex-between.header.items-center.gap_30
        .logo 
            a(href="index.html")
                img(src="img/logo.svg", alt="") 
        nav.navigation.nav
            ul.navigation_menu
                li.cancel_li
                    a.cancel(href="#")
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M1 15L14.7071 1M15 15L1.29291 1" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                li
                    a(href="index.html") Головна
                li
                    a(href="info.html") Рішення під ключ
                li
                    a(href="services.html") Сервіс та гарантія
                li
                    a(href="catalogue.html") Термопластавтомати
                li
                    a(href="news.html") Новини
                li
                    a(href="contacts.html") Контакти
                li.mobile_btn
                    .button 
                        a(href="#").cta.connect_cta.transparent_cta Звʼязатися з нами
        .button.desctop_btn 
            a(href="#").cta.connect_cta.transparent_cta Звʼязатися з нами
        .burger 
            span.bord.b1
            span.bord.b2
            span.bord.b3

        



