header.fixed_header.dark_mode
    .wrapper_header.flex-between.header.items-center
        .logo 
            a(href="index.html")
                img(src="img/logo.svg", alt="") 
        nav.navigation 
            ul.navigation_menu
                li
                    a(href="#") Головна
                li
                    a(href="#") Рішення під ключ
                li
                    a(href="#") Термопластавтомати
                li
                    a(href="#") Новини
                li
                    a(href="#") Контакти
        .button 
            a(href="#").cta.connect_cta.transparent_cta Звʼязатися з нами
        



