section.news.wrapper.pt_100#news
    h2.animate.fade-up(data-delay="100") Останні новини
    article.grid.col_3.gap_20
        figure.new_card.animate.fade-left(data-delay="100")
            figcaption
                picture
                    source(srcset="img/new.webp" type="image/webp")
                    img(src="img/new.png", alt="")
                .flex.gap_20.time_new
                    time.dark_mode.flex.flex-center.items-center(datetime="23.09.2025") 23.09.2025
                    p.flag новини
            h4 Tederic 2025 Global Open Day - Vietnam Edition Concludes Successfully
            p Подія зібрала понад 200 місцевих в’єтнамських клієнтів та представників регіональних китайських бізнес-асоціацій, створивши жваву атмосферу для спілкування та налагодження контактів. Останніми роками компанія Tederic постійно зміцнює свою присутність на в’єтнамському ринку, здобуваючи довіру й визнання клієнтів завдяки стабільній роботі продукції та комплексній системі сервісного обслуговування.
        figure.new_card.animate.fade-up(data-delay="100")
            figcaption
                picture
                    source(srcset="img/new.webp" type="image/webp")
                    img(src="img/new.png", alt="")
                .flex.gap_20.time_new 
                    time.dark_mode.flex.flex-center.items-center(datetime="23.09.2025") 23.09.2025
                    p.flag новини
            h4 Tederic 2025 Global Open Day - Vietnam Edition Concludes Successfully
            p Подія зібрала понад 200 місцевих в’єтнамських клієнтів та представників регіональних китайських бізнес-асоціацій, створивши жваву атмосферу для спілкування та налагодження контактів. Останніми роками компанія Tederic постійно зміцнює свою присутність на в’єтнамському ринку, здобуваючи довіру й визнання клієнтів завдяки стабільній роботі продукції та комплексній системі сервісного обслуговування.
        figure.new_card.animate.fade-right(data-delay="100") 
            figcaption
                picture
                    source(srcset="img/new.webp" type="image/webp")
                    img(src="img/new.png", alt="")
                .flex.gap_20.time_new 
                    time.dark_mode.flex.flex-center.items-center(datetime="23.09.2025") 23.09.2025
                    p.flag новини
            h4 Tederic 2025 Global Open Day - Vietnam Edition Concludes Successfully
            p Подія зібрала понад 200 місцевих в’єтнамських клієнтів та представників регіональних китайських бізнес-асоціацій, створивши жваву атмосферу для спілкування та налагодження контактів. Останніми роками компанія Tederic постійно зміцнює свою присутність на в’єтнамському ринку, здобуваючи довіру й визнання клієнтів завдяки стабільній роботі продукції та комплексній системі сервісного обслуговування.

    .button_container.flex.flex-center.gap_20.pt_60
        a(href="#").cta.fill_cta Усі новини