section.products_section.wrapper.pt_100#products
    h2.animate.fade-up(data-delay="100") Продукція Tederic
    .grid.col_2.gap_20 
        figure.product 
            figcaption 
                a.mask_prod(href="#") 
                picture 
                    img(src="img/prod_1.png", alt="")
                .flex.flex-center.gap_20.items-center.wrap_1024  
                    p.model.flex.flex-center.items-center.gap_10.dark_mode 
                        span NEO 
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <circle cx="5" cy="5" r="5" fill="#ED6B27"/>
                        </svg>
                        span T
                    h4 Коліно-важільні термопластавтомати
        figure.product 
            figcaption 
                a.mask_prod(href="#") 
                picture 
                    img(src="img/prod_2.png", alt="")
                .flex.flex-center.gap_20.items-center.wrap_1024  
                    p.model.flex.flex-center.items-center.gap_10.dark_mode 
                        span NEO 
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <circle cx="5" cy="5" r="5" fill="#ED6B27"/>
                        </svg>
                        span E II 
                    h4 Електричні термопластавтомати
        figure.product 
            figcaption
                a.mask_prod(href="#")  
                picture 
                    img(src="img/prod_1.png", alt="")
                .flex.flex-center.gap_20.items-center.wrap_1024  
                    p.model.flex.flex-center.items-center.gap_10.dark_mode 
                        span NEO 
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <circle cx="5" cy="5" r="5" fill="#ED6B27"/>
                        </svg>
                        span TF
                    h4 Швидкісні термопластавтомати
        figure.product 
            figcaption
                a.mask_prod(href="#")  
                picture 
                    img(src="img/prod_4.png", alt="")
                .flex.flex-center.gap_20.items-center.wrap_1024  
                    p.model.flex.flex-center.items-center.gap_10.dark_mode 
                        span NEO 
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <circle cx="5" cy="5" r="5" fill="#ED6B27"/>
                        </svg>
                        span H II
                    h4 Двоплитні термопластавтомати
        figure.product 
            figcaption 
                a.mask_prod(href="#") 
                picture 
                    img(src="img/prod_5.png", alt="")
                .flex.flex-center.gap_20.items-center.wrap_1024  
                    p.model.flex.flex-center.items-center.gap_10.dark_mode 
                        span NEO 
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <circle cx="5" cy="5" r="5" fill="#ED6B27"/>
                        </svg>
                        span M
                    h4 Багатокомпонентні термопластавтомати
        figure.product 
            figcaption 
                a.mask_prod(href="#") 
                picture 
                    img(src="img/prod_6.png", alt="")
                .flex.flex-center.gap_20.items-center.wrap_1024  
                    p.model.flex.flex-center.items-center.gap_10.dark_mode
                        span DT
                    h4 Класичні коліно-важільні термопластавтомати
    .button_container.flex.flex-center.wrap_768.gap_20.pt_60
        a(href="#").cta.connect_cta.fill_cta Звʼязатися з нами
        a(href="#").cta.transparent_cta.dark_text Детальніше про продукцію 