.description-info 
    .info-item.animate.fade-left(data-delay="200")
        a.readmore(href="#").flex-between.items-center
            div
                p.active_span Серія NEO·T
                h2.head_span Вузол змикання
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="23" viewBox="0 0 42 23" fill="none">
                    <path d="M1 1L21 21L41 1" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round"/>
                </svg>
        .description-more
            .grid.col_2.gap_100.items-center
                .prod_info_text
                    p Вузол змикання ТПА забезпечує точне позиціонування (≤1 мм).
                    p Максимально допустима вага прес-форм збільшена на 15%, навантаження зменшено на 4%, що гарантує стабільність роботи та довговічність вузла змикання.
                picture 
                    img(src="img/vuzol.png", alt="")
            .grid.col_3.gap_20.adv_services 
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Жорстка конструкція
                    p Перероблена структура колінно-важільного механізму дозволяє встановити прес-форми більшого розміру, збільшує жорсткість вузла змикання та зменшує довжину ТПА. Наприклад, для моделі NEO T260 довжина зменшується на 200 мм. 
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Оптимізація конструкції масляного контуру відкривання та закривання прес-форми
                    p Покращення точності кінцевого положення відкривання та закривання прес-форми.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Коробчаста структура вузла
                    p Перероблена структура зменшує деформації, покращує рівномірність розподілу тиску, оптимізує розташування колон і підвищує продуктивність.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Стандартне кріплення для робота
                    p Стандартна схема отворів для кріплення робота Euromap.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Змазка колінно - ричажного механізму
                    p Автоматична система мастила забезпечують простоту експлуатації.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Змазка колінно - ричажного механізму
                    p Стандартна схема отворів для кріплення робота Euromap. Опори ковзання збільшені.
    .info-item.animate.fade-left(data-delay="400")
        a.readmore.flex-between.items-center(href="#") 
            div
                p.active_span Серія NEO·T
                h2.head_span Вузол впорскування
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="23" viewBox="0 0 42 23" fill="none">
                    <path d="M1 1L21 21L41 1" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round"/>
                </svg>
        .description-more
            .grid.col_2.gap_100.items-center
                .prod_info_text
                    p Вузол упорскування вирізняється високою точністю повторюваності упорскування (менше 0,5%), що гарантує стабільність і передбачуваність процесу.
                    p Його модульна конструкція спрощує обслуговування, а суворий контроль температури матеріальної пари (≤±1 °C) сприяє стабільності операцій.
                    p Швидкість упорскування збільшено на 15–30% для малих та на 5–10% для великих термопластавтоматів.
                picture 
                    img(src="img/vuzol_2.png", alt="")
            .grid.col_3.gap_20.adv_services 
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Якісне пластифікування
                    p Пропорційний клапан проти­тиску забезпечує покращене пластифікування та якісну гомогенізацію розплаву.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Економія енергії та часу
                    p Можливість використання електродвигуна попереднього пластифікування для економії енергії та скорочення часу циклу.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Кастомізація для оптимального вирішення ваших завдань
                    p Можливість використання шнекових пар різної конфігурації для підвищення ефективності пластифікування залежно від виробничих завдань.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Простота та зручність
                    p Поворотний вузол впорскування спрощує обслуговування.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Надійне притискання сопла
                    p Подвійні циліндри каретки забезпечують точне вирівнювання сопла та допомагають уникнути витоку матеріалу.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Плавний рух і точність
                    p Використовуються лінійні напрямні як для руху каретки, так і для впорскування, що забезпечує плавний рух та точність повторюваності ≤0,5%.
    .info-item.b_bottom.animate.fade-left(data-delay="600")
        a.readmore.flex-between.items-center(href="#")
            div
                p.active_span Серія NEO·T
                h2.head_span Електрика та гідравліка
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="23" viewBox="0 0 42 23" fill="none">
                    <path d="M1 1L21 21L41 1" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round"/>
                </svg>
        .description-more#spivpracia
            .grid.col_2.gap_100.items-center
                .prod_info_text
                    p Надвисока швидкість реакції сервосистеми дозволяє досягти максимального тиску за 28 мс.
                    p Сервопривід підвищеної потужності забезпечує гідравлічній системі ТПА високу продуктивність та покращену чутливість.
                picture 
                    img(src="img/vuzol_3.png", alt="")
            .grid.col_3.gap_20.adv_services.flex-center
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Якісне електронне оснащення
                    p Електричний щит із захистом від води та пилу оснащений високоякісними компонентами. Має розділення високовольтних та низьковольтних ланцюгів, що забезпечує надійність і простоту технічного обслуговування.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Незварювальний трубопровід — більш чиста гідравлічна система
                    p Незварювальна трубопровідна система зменшує швидкість забруднення масла та запобігає можливим протіканням.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Просунута система безпеки гідравліки
                    p Гідравлічний захист із визначенням позиції, захист РВД, захист прес-форми при низькому тиску, функція скидання тиску.
            .grid.col_2.adv_services.gap_20.center_block
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Спеціалізований контролер
                    p Спеціально розроблений для ТПА просунутий контролер для зручнішого керування. Підтримується віддалене підключення для допомоги та обслуговування.
                .advant_block.animate.fade-left(data-delay="400")
                    h3 Додаткові опції для кастомізації
                    p Моніторинг зусилля замикання, захисна сигналізація системи виштовхування, керування системою гарячих каналів прес-форми.