doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=yes, minimum-scale=1.0, maximom-scale=2.0, initial-scale=1.0")
    title Tederic – інноваційні рішення для лиття пластмас під тиском
    link(rel="stylesheet", href="css/styles.css")
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
body 
    .dark-bgc
    include components/header
    main.privacy.wrapper
        h1.page_h1 Політика конфіденційності
        ul
            li 1. Персональні дані Користувача / Покупця обробляються відповідно до Закону України «Про захист персональних даних» та Політиці конфіденційності компанії.
            li 2. Персональні дані збираються виключно з метою дотримання вимог, які регулюють правовідносини у сфері бухгалтерського та податкового обліку, реклами. Термін зберігання та обробки персональних даних становить три роки.
            li 3. Надаючи свої персональні дані під час реєстрації на Сайті, Користувач погоджується на їх обробку Продавцем, в тому числі з метою просування Продавцем товарів та послуг.
            li 4. Продавець має право відправляти інформаційні, у тому числі рекламні повідомлення на електронну пошту та мобільний телефон Користувача/Покупця з його згоди. Користувач/Покупець має право відмовитися від отримання рекламної та іншої інформації без пояснення причин відмови. Сервісні повідомлення, які інформують Користувача/Покупця про Замовлення та етапи його обробки,відправляються автоматично і не можуть бути відхилені Користувачем/Покупцем.
            li 5. Продавець має право використовувати технологію «Cookies». «Cookies» не містять конфіденційну інформацію і не передаються третім особам.
            li 6. Продавець не несе відповідальність за відомості, надані Користувачем/Покупцем на Сайті в загальнодоступній формі.
            li 7. Продавець має право здійснювати запис телефонних розмов з Покупцем. При цьому Продавець зобов'язується: попереджати спроби несанкціонованого доступу до інформації, отриманої в ході телефонних переговорів, та/або передачу третім особам, які не мають безпосереднього відношення до виконання Замовлень, відповідно до Закону України « Про інформацію».
    footer.dark_mode.footer
        .wrapper_header.flex-between.header.items-center.wrap_768.gap_20
            .logo 
                a(href="index.html")
                    img(src="img/logo.svg", alt="") 
            p.copy &copy 2025 Copyright by Gesplast.
            p.privacy
                a(href="privacy.html") Політика конфіденційності
    script(src="js/scripts.js")
            


